*,
::before,
::after {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

ul {
  list-style-type: none;
  list-style: none;
}

a {
  text-decoration: none;
  color: black;
}

button {
  border: none;
  cursor: pointer;
  background-color: inherit;
}

body {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  background-color: #f2f2f2;
}

.button {
  display: block;
  color: white;
  padding: 1em 1.2em;
  border-radius: 2em;
  background: linear-gradient(170deg, #ff79da, #9356dc);
  margin: 2em auto;
  min-width: 12em;
  max-width: -webkit-fit-content;
  max-width: -moz-fit-content;
  max-width: fit-content;
  text-align: center;
  -webkit-transition: opacity 0.2s ease-in-out, -webkit-box-shadow 0.2s ease-in-out;
  transition: opacity 0.2s ease-in-out, -webkit-box-shadow 0.2s ease-in-out;
  transition: opacity 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
  transition: opacity 0.2s ease-in-out, box-shadow 0.2s ease-in-out, -webkit-box-shadow 0.2s ease-in-out;
  -webkit-box-shadow: 0px 4px 12px -2px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 4px 12px -2px rgba(0, 0, 0, 0.2);
}

.button:hover {
  opacity: 0.9;
  -webkit-box-shadow: 0px 4px 12px -2px rgba(0, 0, 0, 0.4);
          box-shadow: 0px 4px 12px -2px rgba(0, 0, 0, 0.4);
}

.title {
  font-size: 1.6em;
  font-weight: 700;
  padding: 0.5em 0;
}

.title--font {
  font-family: "Shrikhand";
}

.title--light {
  font-weight: 300;
  text-transform: uppercase;
  font-size: 1.2em;
}

.title--underline {
  position: relative;
}

.title--underline::before {
  position: absolute;
  content: "";
  width: 2.5em;
  height: 0.15em;
  bottom: 10%;
  background-color: #99e2d0;
}

.heart {
  position: relative;
  width: 25px;
  height: 25px;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  margin-right: 1em;
  cursor: pointer;
  margin-left: auto;
}

.heart:hover .heart__full {
  -webkit-transform: scale(1);
          transform: scale(1);
  opacity: 1;
  -webkit-transition: opacity 0.2s cubic-bezier(0.76, -0.08, 1, 1), -webkit-transform 0.3s cubic-bezier(0.46, -0.04, 0.69, 1.38);
  transition: opacity 0.2s cubic-bezier(0.76, -0.08, 1, 1), -webkit-transform 0.3s cubic-bezier(0.46, -0.04, 0.69, 1.38);
  transition: transform 0.3s cubic-bezier(0.46, -0.04, 0.69, 1.38), opacity 0.2s cubic-bezier(0.76, -0.08, 1, 1);
  transition: transform 0.3s cubic-bezier(0.46, -0.04, 0.69, 1.38), opacity 0.2s cubic-bezier(0.76, -0.08, 1, 1), -webkit-transform 0.3s cubic-bezier(0.46, -0.04, 0.69, 1.38);
}

.heart:hover .heart__empty {
  -webkit-transform: scale(0.85);
          transform: scale(0.85);
}

.heart__empty {
  top: 0;
  right: 0;
  position: absolute;
  -webkit-transition: -webkit-transform 0.2s cubic-bezier(0.04, 0.7, 0.68, 1.1);
  transition: -webkit-transform 0.2s cubic-bezier(0.04, 0.7, 0.68, 1.1);
  transition: transform 0.2s cubic-bezier(0.04, 0.7, 0.68, 1.1);
  transition: transform 0.2s cubic-bezier(0.04, 0.7, 0.68, 1.1), -webkit-transform 0.2s cubic-bezier(0.04, 0.7, 0.68, 1.1);
}

.heart__full {
  font-weight: 400;
  top: 0;
  right: 0;
  position: absolute;
  -webkit-transform: scale(0);
          transform: scale(0);
  opacity: 0;
  color: #000;
}

.banner {
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  position: relative;
  z-index: -1;
  margin-bottom: -1.5em;
  height: 16em;
}

.text {
  font-size: 1em;
}

.text--big {
  font-size: 1.1em;
}

.text--light {
  font-weight: 300;
}

.text--gray {
  font-weight: 300;
  color: #403c39;
}

.text--center {
  text-align: center;
}

.spinner {
  position: fixed;
  z-index: 5;
  background-color: white;
  width: 100%;
  height: 100%;
  -webkit-animation: disappear 0s forwards 1.5s;
          animation: disappear 0s forwards 1.5s;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.spinner span {
  font-size: 5em;
  color: white;
  -webkit-animation: rotate 1.5s linear;
          animation: rotate 1.5s linear;
  color: #ff79da;
}

@-webkit-keyframes rotate {
  from {
    -webkit-transform: rotate(0);
            transform: rotate(0);
  }
  to {
    -webkit-transform: rotate(2turn);
            transform: rotate(2turn);
  }
}

@keyframes rotate {
  from {
    -webkit-transform: rotate(0);
            transform: rotate(0);
  }
  to {
    -webkit-transform: rotate(2turn);
            transform: rotate(2turn);
  }
}

@-webkit-keyframes disappear {
  0% {
    opacity: 1;
  }
  99% {
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(100%) scale(0);
            transform: translateX(100%) scale(0);
  }
}

@keyframes disappear {
  0% {
    opacity: 1;
  }
  99% {
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(100%) scale(0);
            transform: translateX(100%) scale(0);
  }
}

.menu {
  border-radius: 2em 2em 0 0;
  background-color: #f2f2f2;
}

.menu__title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 1em;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

section {
  padding: 1em;
}

.section--white {
  background-color: white;
}

.card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: relative;
  border-radius: 5em;
  margin-bottom: 1em;
  -webkit-box-shadow: 0px 4px 12px -2px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 4px 12px -2px rgba(0, 0, 0, 0.2);
}

.card img {
  width: 100%;
  height: 16em;
  border-radius: 1em;
  -o-object-fit: cover;
     object-fit: cover;
}

.card--new::before {
  content: "Nouveau";
  color: green;
  background: #99e2d0;
  position: absolute;
  right: 5%;
  top: 5%;
  padding: 0.3em 0.5em;
  border-radius: 0.2em;
  font-weight: 500;
}

.card__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  position: absolute;
  bottom: 0;
  background-color: white;
  width: 100%;
  border-radius: 0 0 1em 1em;
  padding: 1em 1em;
}

.card__info p {
  font-weight: 300;
}

.food {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: white;
  border-radius: 1em;
  cursor: pointer;
  margin-top: 1em;
  overflow: hidden;
  -webkit-animation: appear 1s ease-in-out forwards;
          animation: appear 1s ease-in-out forwards;
  opacity: 0;
  width: 100%;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  -webkit-box-shadow: 0px 4px 12px -2px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 4px 12px -2px rgba(0, 0, 0, 0.2);
}

.food:hover .food__animation {
  -webkit-transform: translateX(0);
          transform: translateX(0);
}

.food:hover .food__animation span {
  -webkit-animation: rotate 0.6s ease-in-out;
          animation: rotate 0.6s ease-in-out;
}

.food:hover .food__info p:first-child {
  min-width: calc(100% - 2em);
}

.food:hover .food__info p:nth-child(2) {
  -webkit-transform: translateX(0);
          transform: translateX(0);
}

.food__text {
  padding: 0.8em;
  width: calc(100% - 3.5em);
}

.food__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 0.2em;
}

.food__info p {
  display: block;
}

.food__info p:first-child {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  min-width: calc(100%);
  -webkit-transition: min-width 0.4s;
  transition: min-width 0.4s;
}

.food__info p:nth-child(2) {
  width: 1em;
  justify-self: flex-end;
  margin: 0 0.5em;
  -webkit-transform: translateX(1em);
          transform: translateX(1em);
  -webkit-transition: -webkit-transform 0.8s;
  transition: -webkit-transform 0.8s;
  transition: transform 0.8s;
  transition: transform 0.8s, -webkit-transform 0.8s;
  font-weight: 700;
}

.food__animation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #99e2d0;
  border-radius: 0 1em 1em 0;
  -webkit-transform: scale(1) translateX(100%);
          transform: scale(1) translateX(100%);
  min-width: 3.5em;
  -webkit-transition: -webkit-transform 0.8s;
  transition: -webkit-transform 0.8s;
  transition: transform 0.8s;
  transition: transform 0.8s, -webkit-transform 0.8s;
}

.food__animation span {
  color: white;
  font-size: 1.3em;
}

.food--anim1 {
  -webkit-animation-delay: 0.2s;
          animation-delay: 0.2s;
}

.food--anim2 {
  -webkit-animation-delay: 0.4s;
          animation-delay: 0.4s;
}

.food--anim3 {
  -webkit-animation-delay: 0.6s;
          animation-delay: 0.6s;
}

.food--anim4 {
  -webkit-animation-delay: 0.8s;
          animation-delay: 0.8s;
}

@keyframes rotate {
  from {
    -webkit-transform: rotate(0);
            transform: rotate(0);
  }
  to {
    -webkit-transform: rotate(1turn);
            transform: rotate(1turn);
  }
}

@-webkit-keyframes appear {
  0% {
    opacity: 0;
    -webkit-transform: translateY(10px);
            transform: translateY(10px);
  }
  80% {
    opacity: 1;
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    opacity: 1;
  }
}

@keyframes appear {
  0% {
    opacity: 0;
    -webkit-transform: translateY(10px);
            transform: translateY(10px);
  }
  80% {
    opacity: 1;
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    opacity: 1;
  }
}

.header {
  background: white;
  padding: 1.2em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header img {
  display: block;
  margin: 0 auto;
  height: 1.8em;
}

.header a {
  font-size: 1.5em;
}

.footer {
  background-color: #403c39;
  padding: 1.5em;
  font-weight: 500;
}

.footer img {
  -webkit-filter: invert(100%) sepia(7%) saturate(26%) hue-rotate(146deg) brightness(105%) contrast(106%);
          filter: invert(100%) sepia(7%) saturate(26%) hue-rotate(146deg) brightness(105%) contrast(106%);
  width: 7em;
  margin-bottom: 1em;
}

.footer__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 0.5em;
  color: white;
}

.footer__list span {
  margin-right: 0.5em;
  width: 1em;
  color: inherit;
}

.footer__list a {
  color: inherit;
}

.header-location {
  background-color: #e4e4e4;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 1em;
  padding: 1em;
  font-weight: 700;
  color: rgba(0, 0, 0, 0.8);
}

.fonctionnement {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 1em;
  font-weight: 500;
}

.fonctionnement__card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background: #f2f2f2;
  padding: 1.5em;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 1.2em;
  position: relative;
  margin-left: 0.5em;
  -webkit-transition: color 0.3s ease-in-out;
  transition: color 0.3s ease-in-out;
  -webkit-box-shadow: 0px 4px 12px -2px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 4px 12px -2px rgba(0, 0, 0, 0.2);
}

.fonctionnement__card span {
  margin-right: 1.3em;
  width: 1em;
  height: auto;
  color: rgba(0, 0, 0, 0.5);
  -webkit-transition: color 0.3s;
  transition: color 0.3s;
}

.fonctionnement__card::before {
  content: attr(data-number);
  font-size: 12px;
  left: -1em;
  position: absolute;
  color: white;
  background: #9356dc;
  width: 2em;
  height: 2em;
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.fonctionnement__card:hover {
  background-color: rgba(147, 86, 220, 0.1);
}

.fonctionnement__card:hover span {
  color: #9356dc;
}
/*# sourceMappingURL=main.css.map */