.fonctionnement {
  display: flex;
  flex-direction: column;
  gap: 1em;
  font-weight: 500;
}
.fonctionnement__card {
  display: flex;
  background: $color-background;
  padding: 1.5em;
  align-items: center;
  border-radius: 1.2em;
  position: relative;
  margin-left: 0.5em;
  transition: color 0.3s ease-in-out;
  @include box-shadow;
  span {
    margin-right: 1.3em;
    width: 1em;
    height: auto;
    color: rgba(0, 0, 0, 0.5);
    transition: color 0.3s;
  }
  &::before {
    content: attr(data-number);
    font-size: 12px;
    left: -1em;
    position: absolute;
    color: white;
    background: $color-primary;
    width: 2em;
    height: 2em;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  &:hover {
    background-color: $color-primary-light;
    span {
      color: $color-primary;
    }
  }
}
