$color-footer: #403c39;
$color-background: #f2f2f2;
$color-primary: #9356dc;
$color-primary-light: rgba(147, 86, 220, 0.1);
$color-secondary: #ff79da;
$color-tertiary: #99e2d0;
$color-background-dark: #e4e4e4;
